<!--
<div class="container">
  <h3>Firebase Email App</h3>
  <router-outlet></router-outlet>
</div>-->



<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm barColor">
  <h5 class="my-0 mr-md-auto font-weight-normal"
      [routerLink]="['/']">Firebase Auth Email App</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" *ngIf="user" >{{ user?.displayName }}</a>
  </nav>
  <a *ngIf="!user"
     class="btn btn-outline-primary buttonNoOutline"
     (click)="login()">Sign in</a>
<a> </a>
  <a *ngIf="!user"
     class="btn btn-outline-primary buttonNoOutline"
     (click)="register()">Register</a>

  <a *ngIf="user"
     class="btn btn-outline-primary "
     (click)="logout()">Log out</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
